header{
    width: 100%;
    height:100vh;
    border: 1px solid black;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(bg-hero.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.contenar{
    width: 100%;
    height: 120px;
}
.logo{
 width: 25%;
 height: inherit;
 float: left;
 border: 1px solid black;
}
nav{
    width: 50%;
    height: inherit;
    float: right;
}
ul{
 line-height: 120px;
}
ul li{
     display: inline-block;
}
li a{
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.text{
    width: 50%;
    height: 500px;
    font-size: 20px;
    color: white;
    float: left;
}
.text h1{
    margin-left: 200px;
    margin-top: 200px;
    font-size: 80px;
}
.text p{
    margin-left: 200px;
}
.text button{
    padding: 10px;
    font-size: 25px;
    margin-left: 200px;
    background-color: orange;
}
.text button:hover{
    transform: translate(10px);
    background-color: brown;
    border-radius: 20px;
    transition: 2s;
}
.photo{
    height: 600px;
    width: 40.5%;
  float: right;
  margin-right: 9%;
}
.photo img{
    width: 100%;
    height: 100%;
}
.photo img:hover{
    transform: rotate(360deg);
    transition: 15s;
}
.main{
    width: 100%;
    height: 500px;
    display: flex;
}
.main .a{
    width: 20%;
    height: 300px;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    margin-top: 80px;
    margin-left: 4%;
    text-align: center;
}
.a h1{
    font-size: 30px;
    margin-top: 120px;
    padding: 20px;
}
.a p{
    font-size: 20px;
    padding: 20px;
}
.main2{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
}
.photo1{
    width: 50%;
    height: inherit;   
    position: relative; 
    float: left;
    /* border: 1px solid black; */
}
.photo11{
    width: 49%;
    height: 250px;
    position: absolute;
    top: 50px;
    /* border: 1px solid black; */
}
.photo11 img{
    width: 100%;
    height: 100%;
}
.photo11 img:hover{
    width: 70%;
    height: 80%;
    margin-top: 13.5%;
    margin-left: 30%;
    border-radius: 20px;
    transition: 2s;
}
.photo12{
    width: 49%;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 375px;
    /* border: 1px solid black; */
}
.photo12 img{
    width: 70%;
    height: 80%;
    margin-top: 13.5%;
}
.photo12 img:hover{
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    border-radius: 20px;
    transition: 2s;
}
.photo13{
    width: 49%;
    height: 250px;
    position: absolute;
    top: 325px;
    /* border: 1px solid black; */
}
.photo13 img{
    width: 70%;
    height: 80%;
    margin-left: 30%;
}
.photo13 img:hover{
    width: 100%;
    height: 100%;
    margin-left:0;
    border-radius: 20px;
    transition: 2s;
}
.photo14{
    width: 49%;
    height: 250px;
    position: absolute;
    top: 325px;
    left: 375px;
    /* border: 1px solid black; */
}
.photo14 img{
    width: 100%;
    height: 100%;
}
.photo14 img:hover{
    width: 70%;
    height: 200px;
    border-radius: 20px;
    transition: 2s;
}
.text1{
        width: 49.7%;
        height: inherit; 
        float: left;   
        /* border: 1px solid black; */
}
.text1 h1{
    margin-top: 150px;
    font-size: 50px;
    padding: 30px;
}
.text1 p{
 font-size: 20px;
 padding: 30px;
}
.text1 button{
    padding: 10px;
    margin-left: 25px;
    font-size: 25px;
    background-color: orange;
  
}
.text1 button:hover{
    border-radius: 20px;
    transform: translate(10px);
    transition: 2s;
}
.main4{
    width: 100%;
    height: 800px;
    /* border: 1px solid black; */
}
.photo2 video{
    background-size:cover;
    width: 100%;
    height: 800px;
    /* border: 1px solid black; */
}
.photo2{
    width: 50%;
    height: 800px;
    float: left;
}
.book{
    width: 49.7%;
    height: 500px;
    float: right;
}
#q{
    color: orange;
    margin-top: 60px;
}
.book  h1{
    font-size: 70px;
}
.book input{
    height: 50px;
    width: 350PX;
}
.book button{
    height: 50px;
    width: 720px;
    padding: 10px;
    background-color: orange;
}
.book button:hover{
    transform: translatey(20px);
 background-color: rgb(28, 204, 201);
}
.main5{
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
   }
code{
    color: orange;
    font-size: 25px;
}
.main5 h1{
 text-align: center;
 font-size: 50px;
}
.main6{
    width: 100%;
    height: 500px;
    display: flex;
    /* border: 1px solid black; */
}
.b{
    width: 20%;
    height: 300px;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-left: 5%;
    overflow: hidden;
    box-shadow: 1px 1px 2px 1.5px ;
}
.b:hover{
    height: 400px;
    transition: 2s;
}
.b img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.b img{
    height: auto;
}
.b i{
    margin-top: 40px;
    padding: 10px;
    background-color:orange;
    border-radius: 20px;
   font-size: 30px;  
}
.main7{
 width: 100%;
 height: 100px;
 border: 1px solid black;
}
footer{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
}
.d{
    margin-top: 200px;
    width: 25%;
    height: 300px;
    justify-content: space-between;
    /* border: 1px solid black;  */
    position: relative;

}
.d h1{
    font-size: 40px;
    text-align: center;
}
.d p{
    margin-left: 50px;
    font-size: 25px;
}
.d input{
    margin-top: -20px;
    width: 250px;
    height: 40px;
    margin-left: 60px;
    border-radius: 20px;
}
.d button{
    width: 100px;
    height: 30px;
    position: absolute;
    left:210px;
    border-radius: 20px;
} 
