xbody {
  background: rgb(214, 214, 214);
}
.parth {
  width: 500px;
  height: 550px;
  margin: 20px auto;
  display: flex;
  background: rgb;
  border-radius: 10px;
  box-shadow: 5px 5px 7px gray;
  
}
.parth:hover{
  background-color: beige;
}
form {
/* text-align :center; */
  width: 230px;
  margin: 100px auto;

}
form h1 {
  text-align: center;
  text-transform: uppercase;

}
p {
  text-align: center;

}
form label {
  display: block;
  font-size: 16px;
  font-weight: 600px;
  padding: 8px;

}
input {
  width: 100%;
  padding: 8px;
  margin: 8px;
  border-radius: 20px;
 
}
.button {
  width: 250px;
  margin-left:42%;
  padding: 8px;
  text-decoration: none;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 20px;
 
  font-size: 17px;
  background-color: transparent;
  border: 1px solid purple;
  color: purple;
  
}
.button:hover{
  background: purple;
  color: white;
}
